button {
    color: black;
    width: 18em;
}




















/* .hero
{
    background: url('../img/DarkNight.png');
    background-size: cover
}

.title
{
   font-weight: bold;
   font-size: 2.5rem;
   color: azure;
   margin-top: 2rem
}

h2
{
    margin: 1.5rem 0 2rem 0 !important;
    color: azure;
    text-align: center;
} */
