.chat-items-container {
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 10px;
}
    
.chat-item-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}