.search-container {
    display: flex;
    align-items: center;
    margin: 20px 1% 20px 1%;
  }
  
  .search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    flex-grow: 1;
  }