.buttons button {
    width: 100px;
    height: 50px;
    padding: 10px;
    border: none;
    background-color: rgb(255, 203, 242);
    color: rgb(66, 0, 51);
    border-radius: 30px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 30px; 
    
}
