@media screen and (max-width: 768px) {
    .image-display {
        display: block;
    }
    
    .button-close,
    .button-previous,
    .button-next {
        width: 80px;
        height: 40px;
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 10px;
        z-index: 9999;
    }
    
    .image-container {
        max-width: 100%;
        max-height: 80%;
    }
    }
    
    .image-display {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 8000;
    }
    
    .button-close {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 120px;
        height: 60px;
        border: none;
        background-color: rgb(255, 203, 242);
        color: rgb(66, 0, 51);
        border-radius: 30px;
        font-weight: bold;
        font-size: 18px;
        cursor: pointer;
        margin-top: 20px;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .button-previous,
    .button-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 120px;
        height: 60px;
        border: none;
        background-color: rgb(255, 203, 242);
        color: rgb(66, 0, 51);
        border-radius: 30px;
        font-weight: bold;
        font-size: 18px;
        cursor: pointer;
        margin-top: 20px;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .image-container {
        max-width: 50%;
        max-height: 50%;
        position: relative; /* добавляем относительное позиционирование */
    }
    
    .image {
        margin-left: auto;
        margin-right: auto;
        width: auto;
        height: auto;
        max-height: 100%;
        max-width: 100%;
        object-fit: cover;
    }
    
    /* добавляем стили для кнопок, чтобы они были вплотную к картинке */
    .button-previous,
    .button-next {
        top: 50%;
        transform: translateY(-50%);
    }
    
    .button-previous {
        left: 0;
        margin-left: 20%;
    }
    
    .button-next {
        right: 0;
        margin-right: 20%;
    }
    .save-button {
        width: 100%;
        height: 40px;
        border: none;
        background-color: rgb(255, 203, 242);
        color: rgb(66, 0, 51);
        border-radius: 5px;
        font-weight: bold;
        font-size: 16px;
        cursor: pointer;
    }

    .description {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
        padding: 10px;
        font-size: 16px;
        text-align: center;
    }
    
    .edit-container {
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
        padding: 10px;
        font-size: 16px;
        text-align: center;
    }
        
    .description-input {
        width: 100%;
        height: 100px;
        border: none;
        background-color: rgba(255, 255, 255, 0.5);
        color: #000;
        border-radius: 5
    }

    .title-input {
        width: 100%;
        height: 40px;
        border: none;
        background-color: rgba(255, 255, 255, 0.5);
        color: #000;
        border-radius: 5px;
        margin-bottom: 10px;
        font-size: 16px;
        padding: 5px;
      }
      
      .title {
        position: absolute;
        bottom: 100%;
        left: 20px;
        color: #fff;
        font-size: 24px;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
      }

      .upload-form {
        position: relative;
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
      }
      
      .upload-label {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
      
      .upload-label i {
        font-size: 50px;
        color: #ccc;
      }
      
      #image-upload {
        display: none;
      }
      
      .upload-form::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 2px dashed #ccc;
        border-radius: 10px;
        box-sizing: border-box;
      }
      
      .upload-form.active::before {
        border-color: #007bff;
      }
      
      .upload-form.active i {
        color: #007bff;
      }
      .image-display-widgets {
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.5);
        border: none;
        border-radius: 5px;
        display: flex;
        gap: 2%;
      }
        