.profile-img {
    flex: 1;
    height: 200px;
    width: 200px;
    min-height: 200px;
    min-width: 200px;
    border-radius: 50%;
    background-color: rgb(139, 139, 139);
    cursor: pointer;
    display: block;
    margin: 20px auto 10px auto;
    object-fit: cover;
}

.user-name {
    flex: 1;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: #333;
    text-shadow: 1px 1px 1px #ccc;
}

.user-info {
    margin-top: 10%;
    margin-left: 10%;
    display: flex;
}

.main-info {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.additional-info {
    margin-top: 5%;
    margin-left: 10%;
    font-size: 1em;
    flex: 3;
    flex-direction: column;
}

.user-fullname {
    flex: 8;
    font-size: 2em;
}

.user-about {
    flex: 16;
    font-size: 1em;
}

.additional-info p {
    margin: 0;
}

.rating-container {
    font-size: 1.5em;
    display: flex;
    flex: 1;
}

.rating-container div {
    margin-left: 10%;
}

.user-tags {
    margin-top: 2%;
}

.user-tags span {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: #f2f2f2;
    color: #333;
    font-size: 14px;
    cursor: pointer;
}

.message-user {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid #333;
    color: #333;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
    margin-top: 20px;
}